section.s-questions
	.container
		.questions
			.questions__head
				h2.h2.questions__title У вас есть вопросы?
				span.questions__subtitle Заполните форму ниже, с Вами свяжется наш специалисти и ответит на все вопросы!
			.questions__form
				include ../../components/form/form-main.pug