$white: #ffffff;
$yellow: #FFEA7C;
$yellow-2: #E9CE51;
$black: #282530;
$black-2: #2A2E37;
$black-3: #2B2F38;
$black-4: #2F333B;
$black-5: #2A2D36;
$red: #ff0000;
$violet: #609;
$blue: #4a76a8;
$blue-2: #1877F2;
$accent: #1ABAC7;
$text: #333;
$main-bg: #ffffff;
$header-color: #22252C;
$dark-grey: #74767D;
$dark-grey-2: #818594;
$dark-grey-3: #414551;
$light-grey: #F2F2F2;
$light-grey-2: #F3F6F7;
$alabaster: #F8F8F8;
$label: #B6B4BA;

// other
$transition: .3s ease;

// fonts
$gilroy: 'Gilroy',
sans-serif