.swiper-container.swiper-destr
	.swiper-wrapper.swiper-wrapper__row
		// slides
		.swiper-slide
			.product
				+img-png('','img/@1x/product/1','img/@2x/product/1','140','270','Аноды','data:image/gif;base64,R0lGODlhGwAOAIAAAP///wAAACH5BAEAAAEALAAAAAAbAA4AAAIRjI+py+0Po5y02ouz3rz7XwAAOw==')
				.product__container
					h3.h3.product__title Аноды
					a(href="#", title="Подробнее").product__link Подробнее
						+icon('next','product__icon')
		.swiper-slide
			.product
				+img-png('','img/@1x/product/2','img/@2x/product/2','140','270','Ленты / Полосы','data:image/gif;base64,R0lGODlhGwAOAIAAAP///wAAACH5BAEAAAEALAAAAAAbAA4AAAIRjI+py+0Po5y02ouz3rz7XwAAOw==')
				.product__container
					h3.h3.product__title Ленты / Полосы
					a(href="#", title="Подробнее").product__link Подробнее
						+icon('next','product__icon')
		.swiper-slide
			.product
				+img-png('','img/@1x/product/3','img/@2x/product/3','140','270','Фольги','data:image/gif;base64,R0lGODlhGwAOAIAAAP///wAAACH5BAEAAAEALAAAAAAbAA4AAAIRjI+py+0Po5y02ouz3rz7XwAAOw==')
				.product__container
					h3.h3.product__title Фольги
					a(href="#", title="Подробнее").product__link Подробнее
						+icon('next','product__icon')
		.swiper-slide
			.product
				+img-png('','img/@1x/product/4','img/@2x/product/4','140','270','Припои','data:image/gif;base64,R0lGODlhGwAOAIAAAP///wAAACH5BAEAAAEALAAAAAAbAA4AAAIRjI+py+0Po5y02ouz3rz7XwAAOw==')
				.product__container
					h3.h3.product__title Припои
					a(href="#", title="Подробнее").product__link Подробнее
						+icon('next','product__icon')
		.swiper-slide
			.product
				+img-png('','img/@1x/product/5','img/@2x/product/5','140','270','Слитки','data:image/gif;base64,R0lGODlhGwAOAIAAAP///wAAACH5BAEAAAEALAAAAAAbAA4AAAIRjI+py+0Po5y02ouz3rz7XwAAOw==')
				.product__container
					h3.h3.product__title Слитки
					a(href="#", title="Подробнее").product__link Подробнее
						+icon('next','product__icon')
		.swiper-slide
			.product
				+img-png('','img/@1x/product/6','img/@2x/product/6','140','270','Прутки','data:image/gif;base64,R0lGODlhGwAOAIAAAP///wAAACH5BAEAAAEALAAAAAAbAA4AAAIRjI+py+0Po5y02ouz3rz7XwAAOw==')
				.product__container
					h3.h3.product__title Прутки
					a(href="#", title="Подробнее").product__link Подробнее
						+icon('next','product__icon')
		.swiper-slide
			.product
				+img-png('','img/@1x/product/7','img/@2x/product/7','140','270','Проволока','data:image/gif;base64,R0lGODlhGwAOAIAAAP///wAAACH5BAEAAAEALAAAAAAbAA4AAAIRjI+py+0Po5y02ouz3rz7XwAAOw==')
				.product__container
					h3.h3.product__title Проволока
					a(href="#", title="Подробнее").product__link Подробнее
						+icon('next','product__icon')
		.swiper-slide
			.product
				+img-png('','img/@1x/product/8','img/@2x/product/8','140','270','Трубы','data:image/gif;base64,R0lGODlhGwAOAIAAAP///wAAACH5BAEAAAEALAAAAAAbAA4AAAIRjI+py+0Po5y02ouz3rz7XwAAOw==')
				.product__container
					h3.h3.product__title Трубы
					a(href="#", title="Подробнее").product__link Подробнее
						+icon('next','product__icon')
	.swiper-button-prev.swiper-dest__nav.swiper-button__custom-nav.swiper-prod__prev
		+icon('next', 'swiper-button__icon swiper-button__icon--prev' )
	.swiper-pagination.swiper-pagination__custom.swiper-pagination__custom-prod
	.swiper-button-next.swiper-dest__nav.swiper-button__custom-nav.swiper-prod__next
		+icon('next', 'swiper-button__icon swiper-button__icon--next' )