.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 500px;

	@media screen and (max-width: 992px) {
		min-height: 700px;
	}

	@media screen and (max-width: 667px) {
		min-height: 550px;
	}
}

.hero-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: initial;
	height: initial;

	&__img {
		background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAL68vAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) !important;
	}
}

.hero-container {
	z-index: 1;
	@extend .hero-bg;
	width: 100%;
}

.hero-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto 0;

	&__headline {
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		font-family: $gilroy;
		transform: translateY(2px);
		text-transform: uppercase;
		letter-spacing: 6px;

		@media screen and (max-width:576px) {
			margin-bottom: 20px;
			font-size: 16px;
			letter-spacing: 4px;
		}
	}

	&__title {
		margin-bottom: 23px;
		font-weight: 800;
		line-height: 140%;
		font-family: $gilroy;
		text-transform: uppercase;

		@include fluidFontSize(38px, 110px, 480px, 1400px, 32px);

		@media screen and (max-width: 1920px) {
			margin-bottom: 0px;
		}

		@media screen and (max-width: 1490px) {
			margin-bottom: 10px;
		}

		@media screen and (max-width: 1280px) {
			margin-bottom: 0px;
		}

		@media screen and (max-width: 1024px) {
			margin-bottom: 30px;
		}

		@media screen and (max-width:576px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 480px) {
			font-size: 34px;
		}
	}

	&__subtitle {

		margin-bottom: 72px;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		font-family: $gilroy;
		border-bottom: 1px dashed rgba($white, $alpha: .6);
		opacity: .8;
		font-style: normal;

		@media screen and (max-width: 1920px) {
			margin-bottom: 50px;
		}

		@media screen and (max-width: 1280px) {
			margin-bottom: 30px;
		}

		@media screen and (max-width: 1024px) {
			margin-bottom: 72px;
		}

		@media screen and (max-width: 567px) {
			border-bottom: 1px dashed transparent;
		}

		@media screen and (max-width: 480px) {
			font-size: 20px;
		}

	}

	&__bnt {
		margin-bottom: 30px;
	}

	&__icon {
		margin-left: 18px;
		transition: $transition;
		fill: $black;
	}
}

.hero-wrap {
	display: flex;
	flex-direction: column;
	// justify-content: flex-end; fix ie 11
	height: 100%;
	padding-bottom: 35px;
	padding-top: 81px;

	@media screen and (max-width: 1920px) {
		padding-bottom: 0px;
	}

	@media screen and (max-width: 1490px) {
		padding-bottom: 10px;
	}


	@media screen and (max-width: 667px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	@media screen and (max-width: 567px) {
		padding-top: 54px;
	}
}

.hero-previews {
	align-items: flex-end;
	@include row-flex();
}

.hero-preview {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 15px;

	@media screen and (max-width: 1280px) {
		margin-bottom: 10px;

		&:nth-child(1),
		&:nth-child(3) {
			max-height: 140px;
		}

		&:nth-child(2) {
			max-height: 160px;
		}
	}


	@media screen and (max-width: 992px) {
		min-height: 140px;
	}

	@media screen and (max-width: 668px) {
		display: none;
	}


	&--sm {
		@include col();
		@include size(3);
		@include size-lg(4);
	}

	&--md {
		@include col();
		@include size(6);
		@include size-lg(4);
	}

	&__content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		z-index: 1;
		padding: 72px 40px 40px 40px;
		text-align: center;
		color: $white;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 34.37%, #000000 100%);

		@media screen and (max-width: 1490px) {
			padding: 25px 40px 25px 40px;
		}

		@media screen and (max-width: 1280px) {
			padding: 20px;
		}

		&:hover {
			text-decoration: none;

			.hero-preview__link {
				color: $accent;

				&:before {
					border-bottom: 1px dashed $accent;
				}
			}

			.hero-preview__icon {
				transform: translateX(10px);
				fill: $accent;
			}
		}
	}

	&__img {
		@media screen and (max-width: 992px) {
			height: 140px;
		}
	}

	&__title {
		margin-bottom: 13px;
		font-weight: bold;
		font-size: 22px;
		line-height: 120%;
		font-family: $gilroy;
		color: $white;
		transition: $transition;
		@include fluidFontSize(16px, 22px, 768px, 1400px, 16px);

		&--md {
			margin-bottom: 28px;
			font-size: 36px;
			transform: translateY(2px);
			letter-spacing: .3px;
			@include fluidFontSize(18px, 36px, 768px, 1400px, 18px);
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		font-size: 15px;
		color: $white;
		transform: translateX(5px);
		transition: $transition;
		white-space: nowrap;
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: center;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: calc(100% - 20px);
			height: 1px;
			border-bottom: 1px dashed $white;
			opacity: .6;
			transition: $transition;
		}
	}

	&__icon {
		width: 11px;
		height: 11px;
		margin-left: 4px;
		transition: $transition;
		transition: $transition;
		fill: $white;
	}
}

.hero-preview--md .hero-preview__content {
	@media screen and (max-width: 1280px) {
		padding: 20px 40px;
	}

	@media screen and (max-width: 992px) {
		padding: 20px;
	}
}