section.s-hero#hero
	.hero
		.container.hero-container
			.hero-wrap
				.hero-content
					span.hero-content__headline Завод Экспериментальной Металлургии
					h1.hero-content__title Мценскпрокат
					span.hero-content__subtitle Производим металлопрокат любой сложности!
					a(href="#", title="Основная кнопка").btn.btn-main.hero-content__bnt Основная кнопка
						+icon('right-arrow','hero-content__icon')
				.row.hero-previews
					.hero-preview.hero-preview--sm.hover
						a(href="#", title="Узнать больше").hero-preview__content
							span.hero-preview__title Точная металообработка
							span.hero-preview__link Узнать больше
								+icon('next','hero-preview__icon')
						.hero-preview__img
							+img-png('','img/@1x/hero-preview/1','img/@2x/hero-preview/1','250','270','Точная металообработка','data:image/gif;base64,R0lGODlhGwAZAIAAAP///wAAACH5BAEAAAEALAAAAAAbABkAAAIYjI+py+0Po5y02ouz3rz7D4biSJbmiTYFADs=')
					.hero-preview.hero-preview--md.hover
						a(href="#", title="Узнать больше").hero-preview__content
							span.hero-preview__title.hero-preview__title--md Металлургическое производство
							span.hero-preview__link Узнать больше
								+icon('next','hero-preview__icon')
						.hero-preview__img
							+img-png('hero-preview__img--md','img/@1x/hero-preview/2','img/@2x/hero-preview/2','280','570','Металлургическое производство','data:image/gif;base64,R0lGODlhOQAcAIAAAP///wAAACH5BAEAAAEALAAAAAA5ABwAAAImjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zhcAOw==')
					.hero-preview.hero-preview--sm.hover
						a(href="#", title="Узнать больше").hero-preview__content
							span.hero-preview__title Лаборатория стандартных образцов
							span.hero-preview__link Узнать больше
								+icon('next','hero-preview__icon')
						.hero-preview__img
							+img-png('','img/@1x/hero-preview/3','img/@2x/hero-preview/3','250','270','Лаборатория стандартных образцов','data:image/gif;base64,R0lGODlhGwAZAIAAAP///wAAACH5BAEAAAEALAAAAAAbABkAAAIYjI+py+0Po5y02ouz3rz7D4biSJbmiTYFADs=')
		.hero-bg
			+img-jpg('hero-bg__img','img/@1x/hero/1','img/@2x/hero/1','1080','1920','Завод Экспериментальной Металлургии','data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7')