section.s-benefits
	+img-png('s-benefits__bg rotate-right','img/@2x/gear-2','img/@2x/gear-2','437','437','Шестеренка','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
	.container
		.benefits
			h2.sr-only Почему мы?
			include ../slider-benefits/slider-benefits.pug