.logo
	a(href="/", title="Логотип")
		picture
			source(srcset='data:image/gif;base64,R0lGODlhsQAsAIAAAP///wAAACH5BAEAAAEALAAAAACxACwAAAJjjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PqFIAADs=', data-srcset=`img/@2x/logo/Logotype.webp`, type='image/webp')
			img.lazy( class='logo__img',alt="МЦЕНСКПРОКАТ ЗАВОД ЭКСПЕРИМЕНТАЛЬНОЙ МЕТАЛЛУРГИИ", src="data:image/gif;base64,R0lGODlhsQAsAIAAAP///wAAACH5BAEAAAEALAAAAACxACwAAAJjjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PqFIAADs=", data-src=`img/@2x/logo/Logotype.png` data-srcset=`img/@2x/logo/Logotype.png`, height='44', width="176")