section.s-about
	.container.about-container
		.about
			h2.sr-only Подробнее о нашей компании
			img(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==' ,data-src="img/other/gear.svg", alt="Шестеренка").lazy.about__img
			span.about__title Мценскпрокат
				img(src='data:image/gif;base64,R0lGODlhJwAcAIAAAP///wAAACH5BAEAAAEALAAAAAAnABwAAAIgjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyUwAAOw==',data-src="img/other/quote.svg", alt="Кавычки").lazy.about__quote
			span.about__subtitle Место рождения новых уникальных сплавов и проката!
			a(href="#", title="Подробнее").product__link.about__link Подробнее о нашей компании
				+icon('next','product__icon about__icon')
	.about-bg
		+img-jpg('hero-bg__img','img/@1x/about/1','img/@2x/about/1','510','1920','Место рождения новых уникальных сплавов и проката!','data:image/gif;base64,R0lGODlhQAARAIAAAP///wAAACH5BAEAAAEALAAAAABAABEAAAIgjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyUgAAOw==')