.swiper-container.slider-partners
	.swiper-wrapper.slider-partners__list
		.swiper-slide.slide-partner
			+img-png('','img/@1x/partners/1','img/@2x/partners/1','120','270','Урал калий','data:image/gif;base64,R0lGODlhCQAEAIAAAP///wAAACH5BAEAAAEALAAAAAAJAAQAAAIFjI+pywUAOw==')
		.swiper-slide.slide-partner
			+img-png('','img/@1x/partners/2','img/@2x/partners/2','120','270','НЛМК','data:image/gif;base64,R0lGODlhCQAEAIAAAP///wAAACH5BAEAAAEALAAAAAAJAAQAAAIFjI+pywUAOw==')
		.swiper-slide.slide-partner
			+img-png('','img/@1x/partners/3','img/@2x/partners/3','120','270','Еврохим','data:image/gif;base64,R0lGODlhCQAEAIAAAP///wAAACH5BAEAAAEALAAAAAAJAAQAAAIFjI+pywUAOw==')
		.swiper-slide.slide-partner
			+img-png('','img/@1x/partners/4','img/@2x/partners/4','120','270','УГМК','data:image/gif;base64,R0lGODlhCQAEAIAAAP///wAAACH5BAEAAAEALAAAAAAJAAQAAAIFjI+pywUAOw==')
		.swiper-slide.slide-partner
			+img-png('','img/@1x/partners/3','img/@2x/partners/3','120','270','Еврохим','data:image/gif;base64,R0lGODlhCQAEAIAAAP///wAAACH5BAEAAAEALAAAAAAJAAQAAAIFjI+pywUAOw==')
		.swiper-slide.slide-partner
			+img-png('','img/@1x/partners/1','img/@2x/partners/1','120','270','Урал калий','data:image/gif;base64,R0lGODlhCQAEAIAAAP///wAAACH5BAEAAAEALAAAAAAJAAQAAAIFjI+pywUAOw==')
.swiper-button-next.swiper-partners__nav.swiper-button__custom-nav.slider-partners__next
	+icon('next', 'swiper-button__icon .swiper-button__icon--next')
.swiper-pagination.swiper-pagination__custom.swiper-pagination__custom-partners
.swiper-button-prev.swiper-partners__nav.swiper-button__custom-nav.slider-partners__prev
	+icon('next', 'swiper-button__icon swiper-button__icon--prev ' )