//-  <div :class="['hamburger', { 'hamburger--open': open }]" @click="toggleNav">
//-     <span class="hamburger__span"></span>
//-   </div>
.hamburger
	span.hamburger__span
	span.hamburger__span
	span.hamburger__span