extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/hero/hero.pug
	include ../blocks/modules/production/production.pug
	include ../blocks/modules/partners/partners.pug
	include ../blocks/modules/about/about.pug
	include ../blocks/modules/benefits/benefits.pug
	include ../blocks/modules/news/news.pug
	include ../blocks/modules/questions/questions.pug
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")