.s-footer-top {
	padding-top: 46px;
	padding-bottom: 33px;
	background-color: $black-5;
}

.footer-top {
	@include row-flex();
}

.footer-top__line-1,
.footer-top__line-2,
.footer-top__line-3,
.footer-top__line-4 {
	@include col();
	@include size-sm(12);
}

.footer-top__line-1 {
	@include size(3);
	@include size-md(6);

	@media screen and (max-width: 768px) {
		margin-bottom: 30px;
	}
}

.footer-top__line-2 {
	@include size(4);
	@include size-md(6);

	@media screen and (max-width: 768px) {
		margin-bottom: 30px;
	}
}

.footer-top__line-3 {
	@include size(4);
	@include size-md(11);

	@media screen and (max-width: 576px) {
		margin-bottom: 30px;
	}
}

.footer-top__line-4 {
	@include size(1);
}

.footer-top__list {
	text-align: left;

	@include not-last {
		margin-bottom: 17px;
	}
}

.footer-top__contact {
	padding-left: 28px;
}

.footer-top__item {
	position: relative;

	p {
		font-size: 12px;
		line-height: 140%;
	}
}

.footer-top__item--m2 {
	margin-top: -10px;
}

.footer-top__icon {
	position: absolute;
	top: 5px;
	left: -28px;
	width: 14px;
	height: 14px;
}

.footer-top__link {
	margin-right: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: $white;
	transition: $transition;

	&:hover {
		color: $accent;
	}
}

.footer-top__desc {
	font-size: 16px;
	color: $dark-grey-2;
}