section.s-footer-top
	.container
		.footer-top
			h2.sr-only Навигация и наши контакты
			.footer-top__line-1
				ul.footer-top__list
					li.footer-top__item
						a(href="#", title="О заводе").footer-top__link О заводе
					li.footer-top__item
						a(href="#", title="Продукция").footer-top__link Продукция
					li.footer-top__item
						a(href="#", title="Для партнёров").footer-top__link Для партнёров
					li.footer-top__item
						a(href="#", title="Информация").footer-top__link Информация
			.footer-top__line-2
				ul.footer-top__list
					li.footer-top__item
						a(href="#", title="Металлургическое производство").footer-top__link Металлургическое производство
					li.footer-top__item
						a(href="#", title="Точная металлообработка").footer-top__link Точная металлообработка
					li.footer-top__item
						a(href="#", title="Лаборатория стандартных образцов").footer-top__link Лаборатория стандартных образцов
					li.footer-top__item
						a(href="#", title="Продукция").footer-top__link Продукция
			.footer-top__line-3
				ul.footer-top__list.footer-top__contact
					li.footer-top__item
						a(href="tel:84952910914", title="8 (495) 291-09-14").footer-top__link 8 (495) 291-09-14
						+icon('tel-accent', 'footer-top__icon')
					li.footer-top__item
						a(href="mailto:info@mzenskprokat.ru", title="общие вопросы").footer-top__link info@mzenskprokat.ru
						span.footer-top__desc - общие вопросы
						+icon('email', 'footer-top__icon')
					li.footer-top__item.footer-top__item--m2
						a(href="mailto:sale@mzenskprokat.ru", title="общие вопросы").footer-top__link sale@mzenskprokat.ru
						span.footer-top__desc - для заявок
					li.footer-top__item
						span Россия, 303032
						p.footer-top__desc г.Мценск Орловская область, Автомагистраль, ул. Автомагистраль 1А/2
						+icon('point', 'footer-top__icon')
			.footer-top__line-4
				.footer-top__social
					include  ../../components/social/social.pug