.select
	.select__header
		span.select__flag
			+icon('russia', '.select__icon-flag')
		span.select__current Rus
		+icon('next', 'select__icon-next')
	.select__body
		.select__item EN
		.select__item RU