section.s-footer-bottom
	.container
		.footer-bottom
			.footer-bottom__logo
				include ../../components/logo/logo.pug
			span.footer-bottom__cop © 2019 г. Мценскпрокат. Все права защищены
			a(href="#", title="Политика конфеденциальности").footer-bottom__policy Политика конфеденциальности
			a(href="#top", title="В начало страницы").footer-bottom__to-top.slowly НАВЕРХ
				+icon('arrow-up', 'footer-bottom__icon')