.social
	a(href="#", title="title").social__item.social__item--vk
		+icon('vk', 'social__icon')
	a(href="#", title="title").social__item.social__item--fb
		+icon('facebook', 'social__icon')
	a(href="#", title="title").social__item.social__item--in
		+icon('instagram', 'social__icon')