footer.s-footer
	.container
		.footer
			.footer__logo
				include ../../components/logo/logo.pug
			span.footer__cop © 2019 г. Мценскпрокат. Все права защищены
			a(href="#", title="Политика конфеденциальности").footer__policy Политика конфеденциальности
			a(href="#hero", title="title").footer__to-top.slowly НАВЕРХ
				+icon('arrow-up', 'footer__icon')