section.s-production
	.container
		.production
			h2.h2.production__title
				span Наша продукция
			.production__list
				include ../slider-prod/slider-prod
				.production__btn
					a(href="#", title="Перейти в каталог").btn.btn-main.hero-content__bnt Перейти в каталог
