.swiper-container.benefits-swiper
	.swiper-wrapper.benefits-swiper__row
		// slides
		.swiper-slide.benefits__slide
			.benefits__content
				.benefits__top
					+img-png('benefits__img','img/@2x/benefits/1','img/@2x/benefits/1','60','60','Номенклатура','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
					span.benefits__title Номенклатура
				p.benefits__text Широкая номенклатура освоенных сплавов и проката по ГОСТ и ТУ
		.swiper-slide.benefits__slide
			.benefits__content
				.benefits__top
					+img-png('benefits__img','img/@2x/benefits/2','img/@2x/benefits/2','60','60','РТ-Техприемка','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
					span.benefits__title РТ-приемка
				p.benefits__text Поставляем продукцию по требованию Заказчика с внешней независимой приемкой (РТ-Техприемка)
		.swiper-slide.benefits__slide
			.benefits__content
				.benefits__top
					+img-png('benefits__img','img/@2x/benefits/3','img/@2x/benefits/3','60','60','Многолетний опыт','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
					span.benefits__title Опыт
				p.benefits__text Имеем многолетний опыт экспериментальной работы с металлами
		.swiper-slide.benefits__slide
			.benefits__content
				.benefits__top
					+img-png('benefits__img','img/@2x/benefits/4','img/@2x/benefits/4','60','60','Государственный оборонный заказ','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
					span.benefits__title ГОЗ
				p.benefits__text Работаем  в рамках ГОЗ (Государственный оборонный заказ)
		.swiper-slide.benefits__slide
			.benefits__content
				.benefits__top
					+img-png('benefits__img','img/@2x/benefits/5','img/@2x/benefits/5','60','60','Индивидуальный подход','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
					span.benefits__title Индивидуальный подход
				p.benefits__text Производим уникальные сплавы и прокат по индивидуальным требованиям Заказчика
		.swiper-slide.benefits__slide
			.benefits__content
				.benefits__top
					+img-png('benefits__img','img/@2x/benefits/6','img/@2x/benefits/6','60','60','Сложные заказы','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
					span.benefits__title Сложные заказы
				p.benefits__text Производим уникальные сплавы и прокат по индивидуальным требованиям Заказчика
	.swiper-button-prev.swiper-benefits__nav.swiper-button__custom-nav.swiper-benefits__prev
		+icon('next', 'swiper-button__icon swiper-button__icon--prev' )
	.swiper-pagination.swiper-pagination__custom.swiper-pagination__custom-benefits
	.swiper-button-next.swiper-benefits__nav.swiper-button__custom-nav.swiper-benefits__next
		+icon('next', 'swiper-button__icon swiper-button__icon--next' )